In [2]:
#Definindo uma string 
expr = '''Dados de Acesso dos Clientes
01/02/2017 "3345.878.00"
02/02/2017 "5.00"
03/02/2017 "4.7800.00"
04/02/2017 "10.800.00"'''

expr

'Dados de Acesso dos Clientes\n01/02/2017 "3345.878.00"\n02/02/2017 "5.00"\n03/02/2017 "4.7800.00"\n04/02/2017 "10.800.00"'

In [19]:
#Retirando o cabeçaljo da String e transformando os dados em uma lista
dados_acesso = expr[29:]
df = dados_acesso.split()

In [20]:
#Acessando o Primeiro Registro
data = df[0]
acesso = df[1]

print(data + " " + acesso)

01/02/2017 "3345.878.00"

<h1>Listas</h1>

In [46]:
#Criando uma Lista
lita = []
lista = list([])
lista = ["Arroz", "Feijão", "Café"]
type(lista)

list

In [47]:
#adicionando um elemento
lista.append("Carne")

In [48]:
#extedendo uma lista
lista.extend(["Leite", "Macarrão", "Açúcar"])
lista

['Arroz', 'Feijão', 'Café', 'Carne', 'Leite', 'Macarrão', 'Açúcar']

In [49]:
#deletando um elemento pela posição
del lista[::5]
lista

['Feijão', 'Café', 'Carne', 'Leite', 'Açúcar']

In [50]:
#deletando por um valor específico

lista.remove('Café')
lista

['Feijão', 'Carne', 'Leite', 'Açúcar']

In [51]:
#Remove o último elemento de uma lista, como se fosse uma pilha
lista.pop()
lista

['Feijão', 'Carne', 'Leite']

In [52]:
#Removendo um elemento utilizando o método pop passando um index
lista.pop(1)
lista

['Feijão', 'Leite']

<h1>Sets</h1>

In [55]:
#Os sets são conjuntos únicos
#criando um sets
dados = set()
dados = {"Ana", "Pedro", "José", "José", "Camila"}
dados

{'Ana', 'Camila', 'José', 'Pedro'}

In [56]:
type(dados)

set

In [57]:
#O set não aceita indexação
dados[0]

TypeError: 'set' object does not support indexing

In [65]:
engenheiros = set(["Ana", "Pedro", "José"])
programadores = set(["Ana", "Pedro", "José", "Ricardo", "Guilherme"])
gerentes = set(["Ana", "Pedro", "Guilherme"])

In [66]:
#União
funcionarios = engenheiros | programadores | gerentes
funcionarios

{'Ana', 'Guilherme', 'José', 'Pedro', 'Ricardo'}

In [67]:
#intersecção
funcionarios = programadores & gerentes
funcionarios

{'Ana', 'Guilherme', 'Pedro'}

In [69]:
#diferença
funcionarios = programadores - engenheiros 
funcionarios

{'Guilherme', 'Ricardo'}

<h1>Tuplas</h1>

In [71]:
#Uma tupla não pode ser alterada
dados = ("Carol", "Igor", "Samuel")

In [72]:
dados[0]

'Carol'

In [73]:
#O valor de uma tupla não pode ser modificada
dados[0] = "Marcia"

TypeError: 'tuple' object does not support item assignment

In [77]:
dados = ("Carol", "Igor", "Samuel", ["Pedro", "Manoel", "Camila"])

In [80]:
#Nota - se que posso modificar o valor de um elemento contido em uma lista dentro da tupla
dados[3][0]= "Ricardo"
dados

('Carol', 'Igor', 'Samuel', ['Ricardo', 'Manoel', 'Camila'])

<h1>Dicionários</h1>

In [12]:
dicionario = dict()
dicionario = {"cod": "005546", "Cliente": "João Aurélio", "Status": "Ativo"}
dicionario

{'cod': '005546', 'Cliente': 'João Aurélio', 'Status': 'Ativo'}

In [6]:
type(dicionario)

dict

In [7]:
#visualizando as chaves de um dicionário
dicionario.keys()

dict_keys(['cod', 'Cliente', 'Status'])

In [8]:
#visualizando os valores de um dicionário
dicionario.values()

dict_values(['005546', 'João Aurélio', 'Ativo'])

In [9]:
#visualizando os ítens que compõe o dicionário
dicionario.items()

dict_items([('cod', '005546'), ('Cliente', 'João Aurélio'), ('Status', 'Ativo')])

In [16]:
dicionario["cod"]

'005546'

In [18]:
dicionario["Cliente"]

'João Aurélio'

In [20]:
dicionario["Cliente"] = "Ana Cláudia"
dicionario

{'cod': '005546', 'Cliente': 'Ana Cláudia', 'Status': 'Ativo'}

In [21]:
dicionario["situação"] = ["Devedor"]
dicionario

{'cod': '005546',
 'Cliente': 'Ana Cláudia',
 'Status': 'Ativo',
 'situação': ['Devedor']}

In [22]:
dicionario["Disponibilidade"] = ["Brasilia", "Goiânia"]
dicionario

{'cod': '005546',
 'Cliente': 'Ana Cláudia',
 'Status': 'Ativo',
 'situação': ['Devedor'],
 'Disponibilidade': ['Brasilia', 'Goiânia']}

In [23]:
dicionario["Disponibilidade"][1]= "Minas Gerais"
dicionario

{'cod': '005546',
 'Cliente': 'Ana Cláudia',
 'Status': 'Ativo',
 'situação': ['Devedor'],
 'Disponibilidade': ['Brasilia', 'Minas Gerais']}

In [24]:
dicionario['Disponibilidade'].append("Goiânia")
dicionario

{'cod': '005546',
 'Cliente': 'Ana Cláudia',
 'Status': 'Ativo',
 'situação': ['Devedor'],
 'Disponibilidade': ['Brasilia', 'Minas Gerais', 'Goiânia']}

In [25]:
#A utilização do for para impressão trar somente as chaves

for i in dicionario:
    print("Chaves:", i)

Chaves: cod
Chaves: Cliente
Chaves: Status
Chaves: situação
Chaves: Disponibilidade

In [29]:
#Utilização do For para Chave Valor
for (i, j) in dicionario.items():
    print("Chave", i, "Valor", j)

Chave cod Valor 005546
Chave Cliente Valor Ana Cláudia
Chave Status Valor Ativo
Chave situação Valor ['Devedor']
Chave Disponibilidade Valor ['Brasilia', 'Minas Gerais', 'Goiânia']

In [30]:
#Trocando o valor de uma chave
dicionario["Matrícula"] = dicionario.pop('cod')
dicionario

{'Cliente': 'Ana Cláudia',
 'Status': 'Ativo',
 'situação': ['Devedor'],
 'Disponibilidade': ['Brasilia', 'Minas Gerais', 'Goiânia'],
 'Matrícula': '005546'}